@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./dark.scss";

html,
body {
	height: 100%;
	font-size: 10pt;
}

body {
	overflow-x: hidden;
}

a[href] {
	color: unset !important;
}